<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Transfer Page</title>
<h1 class = "text-center">Transfer Page</h1>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div id = "data-collection" class="container">
<div class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></div>
	<div id = "add-rekening">
		<form method="post" th:action="@{/rekening/save}" th:object="${addTransfer}">
				<label>Nomor Rekening</label>
				<input class = "form-control" type = "text" th:field="*{noRekening}" /></br>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('noRekening')}" th:errors="*{noRekening}"></div>
				<label>Saldo</label>
				<input class = "form-control" type = "text" th:field="*{saldo}" /></br>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('saldo')}" th:errors="*{saldo}"></div>
				<label>Nama Nasabah</label>
				<input class = "form-control"  type = "text" th:field="*{nasabah}" /></br>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('nasabah')}" th:errors="*{nasabah}"></div>
				<input type = "submit" value="save" class = "btn btn-primary"/>
			</form>
		</div>
		<hr/>
		<div id="search-rekening">
        <form th:action="@{/rekening(search=${keyword})}" method="get">
            <div class="input-group mb-3">
                <input id="keyword" class="form-control " name="keyword" type="search" th:value="${keyword}" placeholder="Find Rekening" style="width: 500px">
                    <div class="input-group-prepend" style="display: inline-block;">
                        <button type="submit" class="btn btn-secondary">Search</button>
                        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
                    </div>
            </div>
        </form>
        </div>
        <hr/>
		<table border = 1 class="table table-bordered table-striped">
			<thead class = "thead-dark">
				<tr>
					<th>Nomor Rekening</th>
					<th>Saldo</th>
					<th>Nama Pemilik</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rekening : ${addreks}">
					<td th:text="${rekening.noRekening}"></td>
					<td th:text="${rekening.saldo}"></td>
					<td th:text="${rekening.nasabah}"></td>
					<td>
						<button class="btn btn-danger" th:onclick="deleteData('[[${nasabah.id}]]')">Delete</button>
						<a class="btn btn-success" th:href="@{'/rekening/edit?id=' + ${rekening.id}}">Edit</a>
					</td>
				</tr>
			</tbody>
		</table>
			<!-- <nav>
				<ul class="pagination justify-content-center">
			
			    <li class="page-item" th:if="${page.hasPrevious()}">
			        <a class="page-link" th:href="@{/nasabah(pageNo=${page.number-1},pageSize=${page.size})}">Previous</a>
			    </li>
			    <ul class="pagination" th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
			        <li  class="page-item active">
			        	<a th:class="page-link" th:if="${page.number == i}">[[${i}+1]]</a>
			        </li>
			        <li  class="page-item" th:unless="${page.number == i}">
			             <a th:class="page-link" th:href="@{/nasabah(pageNo=${i},pageSize=${page.size})}">[[${i}+1]]</a>
			        </li>
			    </ul>
			    <li class="page-item" th:if="${page.hasNext()}">
			        <a th:class="page-link" th:href="@{/nasabah(pageNo=${page.number+1},pageSize=${page.size})}">Next</a>
			    </li>
			</ul>
		</nav> -->
		<a th:href="@{/}" class = "btn btn-primary"> Home </a>
	</div>
</body>
<script inline="javascript">
	/*<![CDATA[*/
		var baseUrl = /*[[@{/}]]*/ "";
	/*]]>*/
	function deleteData(data){
		var conf = confirm("are you sure want delete data? ")
		if(conf == true){
			window.location = baseUrl + "rekening/delete?id=" + data
		}
		return false;
	}
	function clearSearch(){
        window.location = "[[@{/rekening}]]";
    }

</script>
</html>